<h4>
  Observable-method
</h4>
Even Numbers:
<div>
  <ng-container *ngFor="let number of evenNumbers">
    {{ number }}
  </ng-container>
</div>
<div>
  <h5>
      Advantages of using subscribe()
  </h5>
  <ul>
    <li>Unwrapped property can be used in multiple places in the template “as it is” without the need to rely on various workarounds as will be shown in the case 2 examples</li>
    <li>Unwrapped property is available everywhere in the component. This means it can be used directly in the component’s method without the need to pass it from the template. That way, all state can be kept in the component.</li>
  </ul>
</div>
<div>
  <h5>
      Disadvantages of using subscribe()
  </h5>
  <ul>
    <li>Using of the subscribe() introduces complementary need to unsubscribe at the end of the component life-cycle to avoid memory leaks. Developers usually have to unsubscribe manually. The most RxJS (declarative) way to do this is to employ takeUntil(unsubscribe$) operator as shown in the example above. This solution is verbose and error prone because it is very easy to forget implementing ngOnDestroy which will not lead to any errors just a silent memory leak…</li>
    <li>Subscribing to the observable manually in the ngOnInit() doesn’t work with OnPush change detection strategy out of the box. We could make it work by using this.cd.markForCheck() inside of our subscribe handler but this is a very easy to forget, error prone solution.</li>
  </ul>
</div>
