<h4>
  Async-method
</h4>
<div>
  <div>All numbers:</div>
  <ng-container *ngFor="let number of (numbers$ | async)">
    {{ number }}
  </ng-container>
</div>
<div>
  <h5>
      Advantages of using subscribe()
  </h5>
  <ul>
    <li>Solution works with OnPush change detection out of the box! Just make sure that all your business logic (eg reducer, service) is immutable and always returns new objects. Anyway, this is the whole purpose of using NgRx in a first place so I guess immutable data can be assumed…</li>
    <li>Angular handles subscriptions of | async pipes for us automatically so there is no need to unsubscribe manually in the component using ngOnDestroy. This leads to less verbosity and hence less possibilities for making a mistake.  </li>
  </ul>
</div>
<div>
    <h5>
        Disadvantages of using subscribe()
    </h5>
    <ul>
      <li>Objects have to be unwrapped in the template using *ngIf="something$ | async as something" syntax. On the other hand, this is not a problem with collections which get unwrapped in a straight forward manner when using *ngFor="let something of somethings$ | async".</li>
      <li>Objects have to be potentially unwrapped multiple times in a single template in multiple different places. This can be avoided by using a dedicated wrapper element but that means that the state management is mandating changes to DOM structure which is pretty weird…</li>
      <li>Properties unwrapped in the template using *ngIf or *ngFor are not accessible in the component’s methods. This means we have to pass these properties to the methods from the template as the method parameters which further splits logic between the template and the component itself…</li>
    </ul>
  </div>
