<header class="header">
  Async vs Observable
</header>
<main class="container form">
  <section class="observable-container">
    <app-observable-method></app-observable-method>
  </section>
  <hr>
  <section class="async-container">
    <app-async-method></app-async-method>    
  </section>
  <hr>
  <section class="summary">
    <h4>Summary</h4>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus fugiat, excepturi eveniet repellat est asperiores minima sequi veritatis a ipsa deleniti quo eligendi eos aliquam vel adipisci deserunt, cupiditate exercitationem?</li>
    </ul>
  </section>


  <hr>
</main>
    